{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Properties</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'property-manager-dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Property</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  {% if messages %}
  <div id="notification-container">
    {% for message in messages %}
    <div class="notification {% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}">
      <span class="notification-icon">
        {% if message.tags == 'success' %}
        <i class="fas fa-check-circle"></i> <!-- Use an appropriate icon for success -->
        {% elif message.tags == 'error' %}
        <i class="fas fa-times-circle"></i> <!-- Use an appropriate icon for error -->
        {% endif %}
      </span>
      <span class="notification-text">{{ message|escapejs|safe }}</span>
      <!-- <span class="notification-close" onclick="removeNotification(this)">×</span> -->
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <script>
    // Function to remove the notification element
    //function removeNotification(element) {
    //	element.parentElement.style.display = 'none';
    //}

    // Automatically remove notifications after 3 seconds
    setTimeout(function () {
      var notifications = document.querySelectorAll('.notification');
      notifications.forEach(function (notification) {
        notification.style.display = 'none';
      });
    }, 4000);
  </script>
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;width: 100%;">
                  <h3 class="card-title" style="margin: 0;"> 
                    Property List
                  </h3>
                 <a href="{% url 'create-property' %}" class="btn btn-primary" style="margin-left: auto;">Create Property</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>Title</th>
                          <th>Property Type</th>
                          <th>Property Status</th>
                          <th>Rent</th>
                          <th>Address</th>
                          <th>Country</th>
                          <th>City</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for property in properties %}
                    <tr>
                        <td>{{ property.title }}</td>
                        <td>{{ property.property_type }}</td>
                        <td>{{ property.status }}</td>
                        <td>{{ property.est_rent }}</td>
                        <td>{{ property.address }}</td>
                        <td>{{ property.country }}</td>
                        <td>{{ property.city }}</td>
                        <td>
                            <a href="{% url 'view-property' property.id %}"><span class="fas fa-eye text-primary"></span></a>
                            <a href=""><span class="fas fa-edit text-success"></span></a>
                            <a href="{% url 'delete-property' property.id %}"><span class="fas fa-trash text-danger"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                   <tfoot>
                    <tr>
                      <th>Title</th>
                      <th>Property Type</th>
                      <th>Property Status</th>
                      <th>Rent</th>
                      <th>Address</th>
                      <th>Country</th>
                      <th>City</th>
                      <th>Actions</th>
                    </tr>
                    </tfoot>
                  </table>

                  <div class="row d-flex justify-content-center border-top pt-5">
                    <!--Pagination-->
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        {% if properties.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ properties.previous_page_number }}&{{filter_params}}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% endif %}
                  
                        {% if properties.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link"
                            href="?page={{ properties.number|add:'-5' }}&{{filter_params}}">&hellip;</a></li>
                        {% endif %}
                  
                        {% for i in properties.paginator.page_range %}
                        {% if properties.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                          </span>
                        </li>
                        {% elif i > properties.number|add:'-5' and i < properties.number|add:'5' %} <li class="page-item"><a
                            class="page-link" href="?page={{ i }}&{{filter_params}}">{{ i }}</a></li>
                          {% endif %}
                          {% endfor %}
                  
                          {% if properties.paginator.num_pages > properties.number|add:'4' %}
                          <li class="page-item"><a class="page-link"
                              href="?page={{ properties.number|add:'5' }}&{{filter_params}}">&hellip;</a></li>
                          {% endif %}
                  
                          {% if properties.has_next %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ properties.next_page_number }}&{{filter_params}}">Next</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                          </li>
                          {% endif %}
                      </ul>
                    </nav>
                    <!--end of Pagination-->
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
        </div>
    </div>
</div>
<section>
</div>
{% endblock  %}

 