{% extends "base.html" %}
{% block title %}Table{% endblock %}
{% block content %}
{% load static %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Property Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'property-manager-dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Property</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% if messages %}
    <div id="notification-container">
        {% for message in messages %}
        <div
            class="notification {% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}">
            <span class="notification-icon">
                {% if message.tags == 'success' %}
                <i class="fas fa-check-circle"></i> <!-- Use an appropriate icon for success -->
                {% elif message.tags == 'error' %}
                <i class="fas fa-times-circle"></i> <!-- Use an appropriate icon for error -->
                {% endif %}
            </span>
            <span class="notification-text">{{ message|escapejs|safe }}</span>
            <!-- <span class="notification-close" onclick="removeNotification(this)">×</span> -->
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <script>
        // Function to remove the notification element
        //function removeNotification(element) {
        //	element.parentElement.style.display = 'none';
        //}

        // Automatically remove notifications after 3 seconds
        setTimeout(function () {
            var notifications = document.querySelectorAll('.notification');
            notifications.forEach(function (notification) {
                notification.style.display = 'none';
            });
        }, 4000);
    </script>
    <!-- Main content -->
    <section style="background-color: #eee;">
        <div class="container py-1">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Title</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.title|default:"---------"}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.address}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Property Type</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.property_type}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Status</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.status}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Location</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.location}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Country</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.country}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">City</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.city}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">State</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.state}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">EST Rent</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.est_rent}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Total Area</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.total_area}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">No. of Rooms</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.num_rooms}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">No.of Bathrooms</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.num_bathrooms}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">ETA</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.est_delivery_time}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Construction Year</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.construction_year}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Has Swimming Pool</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.has_swimming_pool}}</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Has Garden</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.has_garden}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Has Garage</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.has_garage}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Listing Details</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{property.listing_details}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div></div>
           
            <div class="container">
                <h4>Property Images</h4>
            <div class="row">
                
                {% if property.images.all %}
                {% for image in property.images.all %}
                <div class="col-lg-3">
                    <div class="card text-center">
                        <img src="{{ image.image.url }}" class="card-img-top"
                            alt="Waterfall"  style="height: 250px;">
                        <div class="card-body">
                            {% if image.description %}
                            <p class="card-text">
                              {{image.description}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No images available for this property.</p>
                {% endif %}
    </div>
        </div>


        <div class="container">
            <h4>Property Documents</h4>
            <div class="row">
        
                {% if property.documents.all %}
                {% for document in property.documents.all %}
                <div class="col-lg-3">
                    <div class="card text-center">
                        <a href="{{ document.file.url }}" class="mt-4" download>{{ document.file.name }}</a>
                        <hr>
                        <div class="card-body">
                            {% if document.description %}
                            <p class="card-text mt-n3">
                                {{document.description}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No images available for this property.</p>
                {% endif %}
            </div>
        </div>

</div>
</section>
<!-- /.content -->
</div>
{% endblock %}