{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<div class="row d-flex  justify-content-center">
    <div class="col-md-6">
        <div class="card card-body">

            <h2>Are you sure?</h2>
            <p>Do you want to delete "{{broker.name}}" broker?</p>

            <form action="{% url 'delete-broker' broker.id  %}" method="POST">

                {% csrf_token %}
                <button type="submit" class="btn btn-danger float-right ml-3">Confirm</button>
                <a class="btn btn-secondary float-right" href="{% url 'broker-list' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
<div style="height:100%"></div>
{% endblock %}